.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
.loginbox{
    width: 400px;
    border-style: outset;
    padding:20px;
    // text-align: left;
    *{
        height: 2rem;
        margin: 0%;
        width: 100%;
        // padding: 3px;
    }
    input{
        width: 98%;
    }
    button{
        margin-top: 1rem;
    }
    
}
}